:root {
    --screen-size-small: 30em; /* breakpoint reference only */
  }
  @keyframes intro {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .muted {
    font-size: 80%;
    color: rgb(128, 128, 128);
    svg {
        vertical-align: .1em;
        color: darken(rgb(128, 128, 128), 50%);
    }
  }
  article > section {
      margin-top: 1rem;
  }
  .responsive-iframe {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }
  .responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  iframe {
    border: 0;
  }
  main, footer {
    animation: intro 0.3s both;
    animation-delay: 0.15s;
  }
  footer time[datetime$="M"]:before {
    content: "\2013\0020";
  }
  @media only screen
    and ( max-width: 30em ) {
    footer time[datetime$="M"] {
      display: none;
    }
  }
  blockquote cite {
    display: block;
  }
  blockquote cite::before {
     content: "\2014";
  }