{% import "post_macros.html" as post_macros %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <!-- viewport-fit=cover is to support iPhone X rounded corners and notch in landscape-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">

  <title>{% block title %}{{ config.title }}{% endblock title %}</title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ get_url(path="print.css", trailing_slash=false) }}" media="print">
  <link rel="stylesheet" href="{{ get_url(path="poole.css", trailing_slash=false) }}">
  <link rel="stylesheet" href="{{ get_url(path="hyde.css", trailing_slash=false) }}">
  <link rel="stylesheet" href="{{ get_url(path="extra.css", trailing_slash=false) }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

  {% if config.generate_rss %}
  <link rel="alternate" type="application/rss+xml" title="RSS"
    href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
  {% endif %}

  {% block extra_head %}
  {% endblock extra_head %}
</head>

<body class="{{ config.extra.hyde_theme }} {% if config.extra.hyde_reverse %}layout-reverse{% endif %}">
  {% block sidebar %}
  <div class="sidebar">
    <div class="container {% if config.extra.hyde_sticky %}sidebar-sticky{% endif %}">
      <div class="sidebar-about">
        {% block sidebar_about %}
        <a href="{{ config.base_url }}">
          <h1>{{ config.title }}</h1>
        </a>
        {% if config.description %}
        <p class="lead">{{config.description}}</p>
        {% endif %}
        {% endblock sidebar_about %}
      </div>

      <ul class="sidebar-nav">
        {% block sidebar_nav %}
        {% for link in config.extra.hyde_links %}
        <li class="sidebar-nav-item"><a href="{{link.url}}">{{link.name}}</a></li>
        {% endfor %}
        {% endblock sidebar_nav %}
      </ul>
    </div>
  </div>
  {% endblock sidebar %}

  <div class="content container">
    {% block content %}
    {% block header %}
    {% endblock header %}
    <div class="posts">
      {% for page in paginator.pages %}
        {{ post_macros::page_in_list(page=page) }}
      {% endfor %}
  </div>
  {% endblock content %}
  </div>

</body>

</html>