{% extends "index.html" %}

{% block content %}
<article itemscope itemtype="http://schema.org/BlogPosting" class="post">
  <header>
      <h1 class="post-title" itemprop="headline">{{ page.title }}</h1>
      <span class="muted">{{ post_macros::meta(page=page) }}</span>
  </header>
  <section itemprop="articleBody">
    {{ page.content | safe }}
  </section>
</article>
{% endblock content %}

